<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ve.user.dal.mapper.ext.UserLoginExtMapper">

    <resultMap type="cn.ve.user.dal.entity.UserLogin" id="UserLoginExtMap"
               extends="cn.ve.user.dal.mapper.UserLoginMapper.UserLoginMap">

    </resultMap>


    <!--通过实体作为筛选条件查询-->
    <select id="queryList" resultMap="UserLoginExtMap">
        <include refid="cn.ve.user.dal.mapper.UserLoginMapper.baseSql"/>
        <where>
            <if test="createTimeBegin != null">
                and create_time > #{createTimeBegin}
            </if>
            <if test="createTimeEnd != null">
                and #{createTimeEnd} > create_time
            </if>
        </where>
    </select>

    <!--通过主键修改状态-->
    <update id="updateStatus">
        update public.user_login
        <set>
            <if test="status != null">
                "status" = #{status},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>

